<div class="row">
  <div class="row col-md-8">
    <div *ngFor="let quote of quotes; let i = index" class="col-md-4">
      <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
          <!-- <h5  class="card-title">
            {{ quote.text | quotationMark }} <i class="fas fa-trophy"></i>
          </h5> -->
          <!-- <h5 *ngIf="quote === highestUpVote()" class="card-title">
            <i class="fas fa-trophy"></i>
          </h5>
          <h5 class="card-title">
            <strong> Quote: </strong>{{ quote.text | quotationMark }}
          </h5> -->

          <button class="btn btn-info" (click)="toggleDetails(i)">
            Toggle Details
          </button>
          <app-quote-detail
            *ngIf="quote.showDetails"
            [quote]="quote"
            (deleteQuote)="delete($event, i)"
          ></app-quote-detail>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">
          <button class="btn btn-primary" (click)="addUpVote(i)">Upvote</button>
          {{ quote.upvote }} <br /><br />
          <button class="btn btn-danger" (click)="addDownVote(i)">
            Downvote
          </button>
          {{ quote.downvote }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <app-quote-form (createQuote)="addNewQuote($event)"></app-quote-form>
  </div>
</div>
