<div class="row">
    <div class="row col-md-8"> <br>
      <div *ngFor="let quote of quotes; let i = index" class="col-md-6"> <br>
        <div class="card text-center">
          <div class="card-header"></div>
          <div class="card-body">
            <h5 class="card-title"> Quote: {{ quote.text }}</h5>
            <p class="card-text">
              Author:{{ quote.author }}
            </p>
            <p>Date added: {{ quote.dateAdded }}</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
          <div class="card-footer text-muted">
            <div class="dislike">
              <i class="fas fa-thumbs-down" (click)='downVote(i)'></i> {{ quote.downvote }}
            </div>
            <div class="like">
              <i class="fas fa-thumbs-up" (click)='upVote(i)'></i> {{ quote.upvote }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-quote-form></app-quote-form>
    </div>
  </div>
  